body {
    background: linear-gradient(to right, rgb(173, 181, 189), rgb(206, 212, 218), rgb(222, 226, 230), rgb(233, 236, 239));
}

@font-face {
    font-family: 'Charming';
    src: url(fonts/charming.ttf);
}
h1 {
    font-family: 'Charming', sans-serif;
    text-align: center;
    font-size: 150px;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(75, 83, 90));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.container {
    display: flex;
    justify-content: space-between;
    
  }
  
.icon {
    margin-left: auto;
    color: black;
  }


  .card {
    width: 1600px;
    height: 500px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;
    align-self: center;
    margin-bottom: 100px;
   }
