[Unit]
Description=JustLearnIt Gunicorn Service
After=network.target

[Service]
User=your_username
Group=your_group
WorkingDirectory=/path/to/your/app
Environment="PATH=/path/to/your/venv/bin"
ExecStart=/path/to/your/venv/bin/gunicorn -c gunicorn_config.py app:app
Restart=always

[Install]
WantedBy=multi-user.target 