Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-Bcrypt==1.0.1
python-dotenv==1.0.1
gunicorn==21.2.0
requests==2.31.0
Werkzeug==3.0.1
SQLAlchemy
alembic
email-validator
python-json-logger
Pillow
Flask-WTF
WTForms
waitress==3.0.0