{% extends "base.html" %}

{% block title %}JustLearnIt{% endblock %}

{% block content %}
<div class="container">
    <span></span>
    <i class="fa-regular fa-circle-user fa-3x animate__animated animate__fadeInDown"></i>
  </div>
  

<h1 class="animate__animated animate__fadeInDown">JustLearnIt</h1>


<center>
    <div class="card wow animate__animated animate__fadeInLeft">
        <div class="card2 wow animate__animated animate__fadeInLeft">
            <h2>Descoperă Lumea Cunoașterii!</h2>
            <h3>Bine ai venit pe platforma ta preferată pentru învățarea rapidă și ușoară a geografiei, biologiei și istoriei! Am creat un mediu interactiv, captivant și accesibil, perfect pentru elevi, profesori și pasionați de cunoaștere. Descoperă metode inovatoare de învățare, explicații simple și resurse bine structurate pentru a transforma orice lecție într-o experiență plăcută.</h3>
        </div>
    </div>
</center>
<center>
    <div class="card wow animate__animated animate__fadeInRight"></div>
</center>
<center>
    <div class="card wow animate__animated animate__fadeInLeft"></div>
</center>
<center>
    <div class="card wow animate__animated animate__fadeInRight"></div>
</center>

{% endblock %}
