{% extends "login_base.html" %}

{% block title %}JustLearnIt{% endblock %}

{% block content %}
<a href="{{ url_for('landing.index') }}"><button>Go Back</button></a>

<div class="wrapper">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message flash-{{ category }}">
                    <span class="flash-text">{{ message }}</span>
                    <span class="flash-close" onclick="this.parentElement.style.display='none'">×</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="card-switch">
        <label class="switch">
            <input type="checkbox" class="toggle">
            <span class="slider"></span>
            <span class="card-side"></span>
            <div class="flip-card__inner">
                <div class="flip-card__front">
                    <div class="title">Log in</div>
                    <form class="flip-card__form" method="POST" action="{{ url_for('login.login') }}">
                        <input class="flip-card__input" name="email" placeholder="Email" type="email" required>
                        <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
                        <button class="flip-card__btn" type="submit">Let`s go!</button>
                    </form>
                </div>
                <div class="flip-card__back">
                    <div class="title">Sign up</div>
                    <form class="flip-card__form" method="POST" action="{{ url_for('login.signup') }}">
                        <input class="flip-card__input" name="name" placeholder="Name" type="text" required>
                        <input class="flip-card__input" name="email" placeholder="Email" type="email" required>
                        <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
                        <button class="flip-card__btn" type="submit">Confirm!</button>
                    </form>
                </div>
            </div>
        </label>
    </div>
</div>
{% endblock %}